<%- contentFor("main")%>
<div class="max-w-3xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Modifier votre profil</h2>
  <% if (typeof error !== "undefined") { %>
  <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
  >
    <%= error %>
  </div>
  <% } %>
  <form action="/profile/update/me" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
    <div>
      <label for="lastname" class="block text-sm font-medium text-gray-700"
        >Nom</label
      >
      <input
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        type="text"
        id="lastname"
        name="lastname"
        value="<%= typeof user !=
  'undefined' ? user.lastname : '' %>"
      />
    </div>

    <div>
      <label for="firstname" class="block text-sm font-medium text-gray-700"
        >Prénom</label
      >
      <input
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        type="text"
        id="firstname"
        name="firstname"
        value="<%= typeof user !=
  'undefined' ? user.firstname : '' %>"
      />
    </div>

    <div>
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
      >
      <input
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        type="text"
        id="email"
        name="email"
        value="<%= typeof user != 'undefined'
  ? user.email : '' %>"
      />
    </div>
    <div>
      <label for="phone" class="block text-sm font-medium text-gray-700"
        >Numéro de téléphone</label
      >
      <input
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        type="tel"
        id="phone"
        name="phone"
        value="<%= typeof user != 'undefined'
  ? user.phone : '' %>"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 mt-5 text-white py-2 px-4 rounded-md hover:bg-blue-700"
    >
      Modifier le profil
    </button>
  </form>
</div>
