<%- contentFor('title') %>Liste des voyages <%- contentFor('main') %>
<div class="max-w-6xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-4xl font-bold mb-6 text-center">Liste des voyages</h1>

  <table class="min-w-full my-5 divide-y divide-gray-400">
    <thead class="bg-gray-200 h-16">
      <tr>
        <th>Id</th>
        <th>Depart</th>
        <th>Destination</th>
        <th>date de départ</th>
        <th>date d'arrivée</th>
        <th>Nombre de places</th>
        <th>Prix du voyage</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 text-center">
      <% if(travels.length === 0) { %>
      <tr>
        <td colspan="6" style="text-align: center; color: red">
          Aucun voyage disponible pour le moment.
        </td>
      </tr>
      <% } else {%> <% travels.forEach(function(travel) { %>
      <tr class="hover:bg-sky-100 transition-colors duration-200 h-16">
        <td><%= travel.id %></td>
        <td><%= travel.depart %></td>
        <td><%= travel.destination %></td>
        <td><%= travel.start_date %></td>
        <td><%= travel.end_date %></td>
        <td><%= travel.places %></td>
        <td><%= travel.price %></td>

        <td class="flex justify-center space-x-2 items-center h-16">
          <a
            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition-colors duration-200"
            href="/travel/show/<%= travel.id%>"
            >Voir plus</a
          >
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>
