<div>
  <label for="start_date" class="block text-sm font-medium text-gray-700"
    >Date arrivé</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="date"
    id="start_date"
    name="start_date"
    value="<%= typeof travel !=
  'undefined' ? travel.end_date_formated : '' %>"
  />
</div>

<div>
  <label for="end_date" class="block text-sm font-medium text-gray-700"
    >Date de retour</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="date"
    id="end_date"
    name="end_date"
    value="<%= typeof travel !=
  'undefined' ? travel.end_date_formated : '' %>"
  />
</div>

<div>
  <label for="depart" class="block text-sm font-medium text-gray-700"
    >depart</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="text"
    id="depart"
    name="depart"
    value="<%= typeof travel != 'undefined'
  ? travel.depart : '' %>"
  />
</div>
<div>
  <label for="depart" class="block text-sm font-medium text-gray-700"
    >destination</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="text"
    id="destination"
    name="destination"
    value="<%= typeof travel != 'undefined'
  ? travel.depart : '' %>"
  />
</div>

<div>
  <label for="price" class="block text-sm font-medium text-gray-700"
    >price</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="number"
    id="price"
    name="price"
    value="<%= typeof travel != 'undefined'
  ? travel.price : '' %>"
  />
</div>
<div>
  <label for="places" class="block text-sm font-medium text-gray-700"
    >place maximum</label
  >
  <input
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
    type="number"
    id="places"
    name="places"
    value="<%= typeof travel !=
  'undefined' ? travel.places : '' %>"
  />
</div>

<button
  type="submit"
  class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700"
>
  <%if(travel.id){ %> Modifier le voyage <% } else { %> Créer le voyage <% } %>
</button>
