<%- contentFor("main") %>
<div class="mx-auto p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-4xl font-bold mb-8 text-center text-gray-800">
    Gestion des Inscriptions du voyage n° <%= travel.id %>
  </h1>

  <table class="w-full my-5 table-fixed border-collapse">
    <thead class="bg-gray-200 h-16">
      <tr class="text-gray-700 font-semibold">
        <th class="w-[12.5%] px-2 text-center">Id</th>
        <th class="w-[12.5%] px-2 text-center">Status</th>
        <th class="w-[12.5%] px-2 text-center">Nom</th>
        <th class="w-[12.5%] px-2 text-center">Prénom</th>
        <th class="w-[12.5%] px-2 text-center">Email</th>
        <th class="w-[12.5%] px-2 text-center">Téléphone</th>
        <th class="w-[12.5%] px-2 text-center">Documents</th>
        <th class="w-[12.5%] px-2 text-center">Paiements</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 text-center">
      <% if (!registrations.length) { %>
      <tr>
        <td colspan="8" class="px-2 py-4 text-gray-500">
          Aucune inscription trouvée pour ce voyage.
        </td>

        <% } else { registrations.forEach((registration) => { %>
      </tr>

      <tr class="hover:bg-gray-100">
        <td class="px-2 py-4"><%= registration.id %></td>
        <td class="px-2 py-4">
          <span
            class="inline-block px-3 py-1 text-sm font-semibold <%= registration.status === 'pending' ? ' text-orange-600' : ' text-green-500' %>"
          >
            <% if(registration.status=== "pending") {%> En cours <% }else{ %>
            Confirmé <% } %>
          </span>
        </td>
        <td class="px-2 py-4"><%= registration.id_user.lastname %></td>
        <td class="px-2 py-4"><%= registration.id_user.firstname %></td>
        <td class="px-2 py-4"><%= registration.id_user.email %></td>
        <td class="px-2 py-4"><%= registration.id_user.phone || 'N/A' %></td>
        <% if(registration.status === 'pending') { %>
        <td class="w-[15%] px-2 text-center">
          <a
            href="/document/<%= registration.id %>"
            class="bg-sky-500 text-white p-1 rounded hover:bg-sky-700 transition-colors duration-200 text-xl cursor-pointer"
            ><span class="text-xl">📑</span>
          </a>
        </td>
        <% } else { %>
        <td class="w-[15%] px-2 text-center">
          <a
            href="/document/me/<%= registration.id %>"
            class="bg-slate-500 text-white p-1 rounded hover:bg-slate-700 transition-colors duration-200 text-xl cursor-pointer"
            ><span class="text-xl">📑</span>
          </a>
        </td>
        <% } %> <% if(registration.status === 'documents_uploaded') { %>
        <td class="w-[15%] px-2 text-center">
          <a
            href="/payment/<%= registration.id %>"
            class="bg-yellow-300 text-white p-1 rounded hover:bg-yellow-500 transition-colors duration-200 text-xl cursor-pointer"
            ><span class="text-xl">💸</span>
          </a>
        </td>
        <% } else if (registration.status==="pending") { %>
        <td class="w-[15%] px-2 text-center">
          <span class="text-xs font-semibold text-orange-600"
            >En attente de documents</span
          >
        </td>
        <% } else { %>
        <td class="w-[15%] px-2 text-center">
          <a
            href="/payment/me/<%= registration.id %>"
            class="bg-lime-300 text-white p-1 rounded hover:bg-lime-500 transition-colors duration-200 text-xl cursor-pointer"
            ><span class="text-xl">💸</span>
          </a>
        </td>
        <% } %>
      </tr>
      <% }) }%>
    </tbody>
  </table>
</div>
